.show_text_wrap {

    h1 {
        font-size: 20px !important; 
        font-weight: 400 !important;
    }

    .show_text {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 285px;
        height: 50px;
        background: #181B23;
        border-radius: 8px;
    }
}